<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with url: sessions_path do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-secondary" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-outline-secondary space_left_button" %>
    <% end %>

  </div>
</div>