<%= form_with model: @user do |f| %>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">First name : 
            <%= f.text_field :first_name %>
            <h5 class="card-title">Last name : 
            <%= f.text_field :last_name%>
            <h5 class="card-title">Age : 
            <%= f.text_field :age%>
            <h5 class="card-title">Description : 
            <%= f.text_field :description %>
            <h5 class="card-title">Email : 
            <%= f.text_field :email%>
            <h5 class="card-title">City : 
            <%= f.text_field :city%>
            <h5 class="card-title">Password : 
            <%= f.text_field :password%>
            <h5 class="card-title">Password confirmation : 
            <%= f.text_field :password_confirmation%>
            <p><%= f.submit 'Create account' %></p> 
        </div>
    </div>
<% end %>

