<h1>Create account :</h1>

<%= form_with model: @user do |f| %>
    <form>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :first_name, class: 'form-control' %>
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
            <%= f.label :Age %>
            <%= f.text_field :age, class: 'form-control' %>
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control' %>
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
            <%= f.label :password %> 
            <%= f.text_field :password, class: 'form-control' %>
            <%= f.label :password_confirmation %>
            <%= f.text_field :password_confirmation, class: 'form-control' %>
            <p><%= f.submit 'Create account', class: "btn btn-secondary" %></p> 
        </div>
   </form>
<% end %>

