<h1>User Page</h1>

    <div class="card w-50">
      <div class="card-body">
        <h5 class="card-title">First name:</h5>
        <p class="card-text"><%= @user.first_name %></p>
        <h5 class="card-title">Last name:</h5>
        <p class="card-text"><%= @user.last_name %></p>
        <h5 class="card-title">Description:</h5>
        <p class="card-text"><%= @user.description %></p>
        <h5 class="card-title">E-mail:</h5>
        <p class="card-text"><%= @user.email %></p>
        <h5 class="card-title">Age:</h5>
        <p class="card-text"><%= @user.age %></p>  
        <h5 class="card-title">City:</h5>
        <p class="card-text"><%= link_to "#{@user.city.name}", city_path(@user.city)%></p>
      </div>
    </div>