<%= form_with model: @gossip do |f| %>
    <form>
        <div class="form-group">
            <%= f.label :title %> 
            <%= f.text_field :title, class: "form-control" %>
            <%= f.label :content %>
            <%= f.text_field :content, class: "form-control"%>
            <% if !@gossip.tags.empty? %>
                <%= f.label :tags %> 
                <% @gossip.tags.each do |tag| %>
                    <span class="badge badge-info"><%= tag.title %></span>
                <% end %><br/>
            <% end %>
            <%= select_tag :tags_id, options_from_collection_for_select(Tag.all, "id", "title"), class: "checkbox", multiple: true, classe: 'selected-select', include_blank: 'Choose tag' %>
            <p><%= f.submit 'Edit Gossip', class: "btn btn-secondary" %></p> 
        </div>
   </form>
<% end %>

