<!-- Vue de la page d'accueil de l'appication -->
<h2>HI <%= params[:id] %> ! Welcome to the Gossips Center :</h2>

<!-- Boucle qui parcours tous les gossips -->
<div class="row">
    <% @gossips.each do |gossip|%>
    <!-- Affichage des information de chaques gossips -->
         <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-text"><%= gossip.title %></h5>
                    <blockquote class="blockquote mb-0">
                    <p><%= gossip.content %></p>
                    <footer class="blockquote-footer">
                        <small>Author : <cite title="Source Title"><%= gossip.user.first_name %></cite></small>
                        <p><%= link_to "Show Gossip", gossip_path(gossip), class: "btn btn-outline-secondary btn-block" %></p>
                    </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    <% end %>
</div>

