<h1>New Gossip</h1>

<%= form_with model: @gossip do |f| %>
    <form>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
            <%= f.label :content %>
            <%= f.text_field :content, class: 'form-control'%><br/>
            <%= f.label :tags %>
            <%= select_tag :tags_id, options_from_collection_for_select(Tag.all, "id", "title"), include_blank: 'Choose tag' %><br/>
            <p><%= f.submit 'New Gossip', class: "btn btn-secondary" %></p> 
        </div>
    </form>
<% end %>

