<h1>Gossip <%= params[:id] %></h1>

<div class="card w-50">
  <div class="card-body">
    <h3 class="card-title">Title : 
    <%= @gossip.title %></h3>
    <h5 class="card-title">Content:</h5>
    <p class="card-text"><%= @gossip.content %></p>
    <h5 class="card-title">Author:</h5>
    <p class="card-text"><%= link_to "#{@gossip.user.first_name + " " + @gossip.user.last_name.upcase}", user_path(@gossip.user)%></p>
    <h5 class="card-title">City:</h5>
    <p class="card-text"><%= @gossip.user.city.name %></p> 
    <small><cite title="Source Title"><%= @gossip.created_at.strftime("Created : %m/%d/%Y at %I:%M %p") %></cite></small>
  </div>
</div>